<a href="https://colab.research.google.com/github/Elwing-Chou/ml1206/blob/main/imdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

In [ ]:
import glob
dn = os.path.dirname(dataset)
glob.glob("/root/.keras/datasets/aclImdb/train/pos/*")

In [2]:
import os
import glob
import pandas as pd
def getdata(mid):
    dn = os.path.dirname(dataset)
    posfn = glob.glob(os.path.join(dn, "aclImdb", mid, "pos", "*"))
    negfn = glob.glob(os.path.join(dn, "aclImdb", mid, "neg", "*"))
    contents = []
    for fn in posfn + negfn:
        with open(fn, encoding="utf-8") as f:
            contents.append(f.read())
    df = pd.DataFrame({
        "content":contents,
        "sentiment":[1] * len(posfn) + [0] * len(negfn)
    })
    return df

In [3]:
train_df = getdata("train")
test_df = getdata("test")

In [ ]:
test_df

In [17]:
# 1. tokenize
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["content"])

In [20]:
# tok.index_word
# tok.word_index

In [23]:
# 2. sequenize: 文字化成數字(數字最大值:3000)
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0        48    44  2052   911     2    68  ...   NaN   NaN   NaN   NaN   NaN   NaN
1       134    31  1370   140  2373     1  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        11   129     6   161   343     4  ...   NaN   NaN   NaN   NaN   NaN   NaN
3        10    63   188   374    34  1174  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        10   771   293     1    17   243  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995   100  1061     5     1   127    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996    10   101   195    11     6   370  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    84  1053  1325     4  1241   232  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    32   318   236    31    32   896  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    11    17  2912    81     9   158  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]